* {
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

body.on {
  background: radial-gradient(
    800px at 48.2% 50%,
    rgba(248, 238, 238, 0.6) 0%,
    rgb(21, 22, 22) 74.6%
  );
  background-position: center;
}

div.light{
  display: flex;
  align-self: flex-start;
}

img {
  max-height: 100%;
  opacity: 0.2;
}

.on img {
  opacity: 1;
}

.switch {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 90px;
  height: 90px;
  background: linear-gradient(#eee, #ccc, #eee);
  border: 1px solid #ada7a79a;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch .btn {
  position: relative;
  width: 25px;
  height: 40px;
  background: linear-gradient(#777, #fff, #777);
  border-radius: 6px;
  border: 1px solid #ada7a79a;
  cursor: pointer;
}

.switch .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background: linear-gradient(#fff, #fff);
  border-radius: 4px;
}

.on .switch .btn::before {
  top: 15%;
} 

.pick-color {
  position: absolute;
  bottom: 100px;
  right: 35px;
  width: 90px;
  height: 90px;
}

#color {
  width: 60px;
  height: 30px;
  border-radius: 24px;
}