* {
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

body.on {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(27, 28, 29) 74.6%
  );
}

div.light{
  display: flex;
  align-self: flex-start;
}

#light {
  opacity: 0.2;
}

.on #light {
  max-height: 100%;
  opacity: 1;
}


/* .wire {
  position: absolute;
  left: calc(50% - 5px);
  top: 0;
  width: 8px;
  height: 30vh;
  background: #000;
  z-index: 1;
} */

.switch {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 90px;
  height: 90px;
  background: linear-gradient(#eee, #ccc, #eee);
  border: 1px solid #ada7a79a;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch .btn {
  position: relative;
  width: 25px;
  height: 40px;
  background: linear-gradient(#777, #fff, #777);
  border-radius: 6px;
  border: 1px solid #ada7a79a;
  cursor: pointer;
}

.switch .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background: linear-gradient(#fff, #fff);
  border-radius: 4px;
}

.on .switch .btn::before {
  top: 15%;
} 
